body {
  margin: 0; padding: 0;  
} 

header {
  display: flex;
  justify-content: end;
  align-items: center;

  position: fixed;
  height: 50px;
  width: 100%;

  padding: 10px;

  z-index: 1;
}

header menu {
  display: flex;
  justify-content: end;
  align-items: center;
}

header menu a {
  display: inline-block;
  min-width: 100px;
}

#map { 
  position: absolute; top: 0; bottom: 0; width: 100%; 
}
